.Container {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    border-top: 2px black dotted;
}

.direction {
    width: 25%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Localidad {
    color: crimson;
}

.p,
.socialLocalidad {
    font-size: 18px;
    color: rgb(96, 96, 96);
}

.telephone {
    color: rgb(96, 96, 96);
    font-size: 18px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.phoneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redSocial {
    height: 40px;
    transition: all 1s ease-in-out;
}

.SocialColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Rights {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desarrollo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pdev {
    padding: 5px;
    color: crimson;
}

.pRights {
    border: 1.5px solid gray;
    border-radius: 10px;
    color: rgb(96, 96, 96);
    padding: 5px;
}

@media screen and (max-width: 768px) {

    .direction,
    .telephone,
    .social {
        width: 33%;
    }

    .p,
    .socialLocalidad,
    .Localidad {
        font-size: 15px;
        text-align: center;
    }

    .telephone {
        font-size: 15px;
    }

    .phoneContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .redSocial {
        height: 20px;
        transition: all 1s ease-in-out;
    }

    .Rights {
        display: none;
    }

    .social {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .Container {
        padding: 8px;
        height: 130px;
    }

    .p,
    .socialLocalidad,
    .Localidad {
        font-size: 13px;
        text-align: center;
    }

    .telephone {
        font-size: 13px;
    }
}